.u-section-1 {
  background-image: url("images/2560x1440-aqua-solid-color-background.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 951px;
}

.u-section-1 .u-image-1 {
  width: 137px;
  height: 137px;
  background-image: url("images/phoenix2.png");
  background-position: 50% 50%;
  margin: 153px auto 0 211px;
}

.u-section-1 .u-image-2 {
  width: 137px;
  height: 137px;
  background-image: url("images/3.jpg");
  background-position: 50% 50%;
  margin: -137px auto 0 405px;
}

.u-section-1 .u-image-3 {
  width: 137px;
  height: 137px;
  background-image: url("images/Kiddions.png");
  background-position: 50% 50%;
  margin: -137px auto 0 598px;
}

.u-section-1 .u-image-4 {
  width: 137px;
  height: 137px;
  background-image: url("images/unnamed8.png");
  background-position: 50% 50%;
  margin: -137px auto 0 792px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 11px auto 0 217px;
  padding: 6px 22px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -37px auto 0 411px;
  padding: 6px 28px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -37px auto 0 604px;
  padding: 6px 20px 6px 18px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -37px auto 0 799px;
  padding: 6px 41px 6px 40px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 9px auto 0 211px;
  padding: 8px 19px 8px 18px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -37px auto 0 405px;
  padding: 8px 19px 8px 18px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -38px auto 0 598px;
  padding: 8px 19px 8px 18px;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -36px auto 0 792px;
  padding: 8px 19px 8px 18px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 9px auto 0 232px;
  padding: 8px 14px;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -35px auto 0 426px;
  padding: 8px 14px;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -35px auto 0 813px;
  padding: 8px 14px;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -35px auto 0 618px;
  padding: 8px 30px 8px 29px;
}

.u-section-1 .u-image-5 {
  width: 137px;
  height: 137px;
  background-image: url("images/unnamed9.png");
  background-position: 50% 50%;
  margin: 55px auto 0 405px;
}

.u-section-1 .u-image-6 {
  width: 137px;
  height: 137px;
  background-image: url("images/astro-web.jpg");
  background-position: 50% 50%;
  margin: -137px auto 0 598px;
}

.u-section-1 .u-btn-13 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 11px auto 0 412px;
  padding: 6px 36px 6px 34px;
}

.u-section-1 .u-btn-14 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -37px auto 0 598px;
  padding: 6px 36px;
}

.u-section-1 .u-btn-15 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 11px auto 0 405px;
  padding: 8px 19px 8px 18px;
}

.u-section-1 .u-btn-16 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -37px auto 0 597px;
  padding: 8px 19px 8px 18px;
}

.u-section-1 .u-btn-17 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 11px auto 0 426px;
  padding: 8px 30px 8px 29px;
}

.u-section-1 .u-btn-18 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -35px auto 0 616px;
  padding: 8px 14px;
}

.u-section-1 .u-text-1 {
  margin: 153px 95px 11px 494px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 784px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 17px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 211px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 404px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 599px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 111px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 305px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 498px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 692px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 32px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 226px;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 613px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 418px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 212px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 398px;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 205px;
  }

  .u-section-1 .u-btn-16 {
    margin-top: -59px;
    margin-left: 397px;
  }

  .u-section-1 .u-btn-17 {
    margin-top: 33px;
    margin-left: 226px;
  }

  .u-section-1 .u-btn-18 {
    margin-left: 416px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 389px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 583px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 583px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 184px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 379px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 106px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 106px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 284px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 478px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 6px;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 393px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 198px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 583px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 178px;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 177px;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 6px;
  }

  .u-section-1 .u-btn-18 {
    margin-left: 196px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 169px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 348px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 403px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 403px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 403px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 4px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 199px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 106px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 298px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 213px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 18px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 403px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 403px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-17 {
    margin-right: 28px;
    margin-left: 416px;
  }

  .u-section-1 .u-btn-18 {
    margin-right: 29px;
    margin-left: 416px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 284px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 347px;
    margin-left: 203px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 203px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 203px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 203px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 102px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 102px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 102px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 102px;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 13px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    margin-left: 203px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 203px;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 216px;
  }

  .u-section-1 .u-btn-18 {
    margin-left: 216px;
  }
}